
.subtle-scrollbar, body {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #e2e8f0; //bg-slate-200
    }
    &:-webkit-scrollbar-track {
      box-shadow: none;
      background-color: #e2e8f0; //bg-slate-200
    }
    &::-webkit-scrollbar-thumb {
      background-color: #94a3b8; //bg-slate-400
      border-radius: 3px;
      border: 0;
    }
}
.dark{
    .subtle-scrollbar, body {
        &::-webkit-scrollbar {
          background-color: #1e293b; //bg-slate-800
        }
        &:-webkit-scrollbar-track {
          background-color: #334155; //bg-slate-700
        }
        &::-webkit-scrollbar-thumb {
          background-color: #64748b; //bg-slate-500
        }
    }
}
